
<div class="flex-container center">
    <div class="background padding flex-container">
        <h1>Su compra se ha Realizado con éxito</h1>
    </div>
    <a href="/api/products/products">
        <button>Seguir Comprando</button>
    </a>
</div>





